#root {
  margin: 0; padding: 0;
}

.all {
  display: flex;
}
.mid {
  width: 49%;
  margin: 0;
  padding: 0;
  left: 0;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
}

.header {
  width: 100%;
  top: 0px;
}

.cards {
  display: flex;
  justify-content: space-evenly;
  align-content: center;
}