.form {
    display: flex;
    flex-direction: column;
    .send {
        margin-top: 20px;
        background-color:aquamarine;
    }
    .label {
        display: flex;
        flex-direction: column;
    }
}